.fade-in{
  animation:fade-in 400ms ease-out forwards;
}
.fade-out{
  animation:fade-out 400ms ease-in forwards;
}

#lose-text{
  color:orange;
}
#none-text,#tip-text{
  color:hsl(0,0%,80%);
}
#win-text{
  color: lightskyblue;
}
#starting-container{
  display:flex;
  background:linear-gradient(hsl(0,0%,0%),hsl(0,0%,60%));
  width:100vw;
  height:90vh;
  position:fixed;
  top:5vh;
  left:0;
  overflow: scroll;
  flex-direction: column;
  text-align: center;
  color:white;
  font-weight:bold;
  font-style:italic;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  font-size:2.5rem;
}
#game-container{
  margin-top:5vh;
  display:grid;
  background: repeating-linear-gradient(hsl(0,0%,30%) 0%,hsl(0,0%,25%) 10%,hsl(0,0%,25%) 20%,hsl(0,0%,30%) 50%);
  padding:5% 5% 5%;
  gap:5%;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  overflow-y:scroll ;
  height:90vh;
  max-width: 1280px;
  max-height: 900px;
}
.grid-btn{
  display:block;
}
#win{
  color:rgb(0, 255, 30);
}
#lose{
  color:red;
}
#stats{
  top:0;
  height:5vh;
  display: flex;
  text-align:center;
  font-weight:bold;
  justify-content: space-around;
  align-items: center;
}
#info-container{
  bottom:0;
  height:10vh;
  display:grid;
  grid-template-rows: repeat(2,1.5fr);
  overflow-x: hidden;
  overflow-y: scroll;
}
details{
  border:1px solid white;
  text-align:left;
}
#stats,#info-container{
  color:white;
  position:fixed;
  background:linear-gradient(90deg,hsl(0,0%,0%),hsl(0,0%,10%),hsl(0,0%,20%));
  width:100vw;
  z-index: 1;
}
@keyframes fade-in{
  from{
    opacity:0;
  }
  to{
    opacity:1
  }
}
@keyframes fade-out{
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}
@media (max-width:2600px){
  html{
    font-size:50px;
  }
}
@media (max-width:1500px){
  html{
    font-size:40px;
  }
}
@media (max-width:1000px){
  html{
    font-size:30px;
  }
}
@media (max-width:700px){
  html{
    font-size:26px;
  }
}
@media (max-width:500px){
  html{
    font-size:20px;
  }
}