.fade-in{
  animation:fade-in 400ms ease-out forwards;
}
.fade-out{
  animation:fade-out 400ms ease-in forwards;
}
#tip-text{
  color:orange;
}
#starting-container{
  display:flex;
  background:linear-gradient(grey,white);
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  color:white;
  font-weight:bold;
  font-style:italic;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  font-size:3rem;
}

#win{
  color:rgb(0, 255, 30);
}
#lose{
  color:red;
}
@keyframes fade-in{
  from{
    opacity:0;
  }
  to{
    opacity:1
  }
}
@keyframes fade-out{
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}